[submodule "themes/gymnasium"]
	path = themes/gymnasium
	url = https://github.com/gymnasium/openedx-theme
[submodule "custom_registration_form"]
	path = custom_registration_form
	url = git@github.com:appsembler/custom_registration_form.git
